# Port for the server to listen on
PORT=5000

# Environment definition
NODE_ENV="development"

# PostgreSQL Connection (Update with your actual DB credentials)
DATABASE_URL=postgres://postgres:admin@localhost:5432/task-management

# Redis Connection
REDIS_URL="redis://localhost:6379"

# JWT Secrets (Ensure these are long, random strings in production)
JWT_SECRET="super_secret_dev_key_change_in_prod"
JWT_REFRESH_SECRET="super_secret_refresh_key"